<div class="commonContainer">
<%= form_with(model: @additional, url: product_additionals_path(params[:product_id]) , local: true) do |form| %>
  
  <% if @additional.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@additional.errors.count, "error") %> prohibited this additional from being saved:</h2>

      <ul>
        <% @additional.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field inputFieldContainer">
    <%= form.label :color %></br>
    <%= form.text_field :color ,:required => true, class:'inputField'%>
  </div>

  <div class="field inputFieldContainer">
    <%= form.label :product_age %></br>
    <%= form.number_field :product_age ,:required => true, class:'inputField'%>
  </div>

  <div class="field inputFieldContainer">
    <%= form.label :imperfections %></br>
    <%= form.text_field :imperfections ,:required => true, class:'inputField'%>
  </div>

  <div class="field inputFieldContainer">
    <%= form.label :waranty %></br>
    <%= form.text_field :waranty ,:required => true, class:'inputField'%>
  </div>
 
  <div class="field inputFieldContainer">
    <%= form.label :condition %></br>
    <%= form.text_field :condition ,:required => true, class:'inputField'%>
  </div>

  <div class="field" style="visibility:hidden">
    <%= form.label :product_id %></br>
    <%= form.text_field :product_id, value: @productId ,:required => true %>
  </div>

  <div class="actions">
    <%= form.submit "Create Additional", class:"productBtn" %>
  </div>
<% end %>
</div>
