<div class="showContainer">
<p id="notice"><%= notice %></p>

<div class="showBox">
  <h3 class="showKey">Color:</h3>  
  <%= @additional.color %>
</div>


<div class="showBox">
  <h3 class="showKey">Age:</h3>  
  <%= @additional.product_age %>
</div>

<div class="showBox">
  <h3 class="showKey">Imperfections:</h3>  
  <%= @additional.imperfections %>
</div>

<div class="showBox">
  <h3 class="showKey">Waranty:</h3>  
  <%= @additional.waranty %>
</div>

<div class="showBox">
  <h3 class="showKey">Condition:</h3>  
  <%= @additional.condition %>
</div>
</div>