<div class="loginContainer">
<h1>Sign up</h1>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>


  <div class="field inputFieldContainer">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"inputField" %>
  </div>

 
  <div class="field inputFieldContainer">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password", class:"inputField" %>
  </div>

  <div class="field inputFieldContainer">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"inputField" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up", class:"btnStyle" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>

</div>
