<<<<<<< Updated upstream
<% if @additional %>
  <% if @additional.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@additional.errors.count, "error") %> prohibited this additional from being saved:</h2>

      <ul>
        <% @additional.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<% end %>

  

  <div class="field">
    <%= form.label :color %>
    <%= form.text_field :color %>
  </div>

  <div class="field">
    <%= form.label :product_age %>
    <%= form.number_field :product_age %>
  </div>

  <div class="field">
    <%= form.label :imperfections %>
    <%= form.text_field :imperfections %>
  </div>

  <div class="field">
    <%= form.label :waranty %>
    <%= form.text_field :waranty %>
  </div>

  <div class="field">
    <%= form.label :condition %>
    <%= form.text_field :condition %>
  </div>

  <div class="field">
    <%= form.label :product_id %>
    <%= form.text_field :product_id %>
    <%= @productId %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>

=======
changes made for only for trainer_branch
>>>>>>> Stashed changes



 