<div class="commonContainer">
<%= form_with(model: product) do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
        <% product.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field inputFieldContainer" >
    <%= form.label :name %></br>
    <%= form.text_field :name ,:required => true , class:'inputField'%>
  </div>

  <div class="field inputFieldContainer">
    <%= form.label :category %></br>
    <%= form.text_field :category,:required => true, class:'inputField' %>
  </div>

  <div class="field inputFieldContainer">
    <%= form.label :description %></br>
    <%= form.text_field :description,:required => true, class:'inputField' %>
  </div>

  <div class="field inputFieldContainer">
    <%= form.label :amount %></br>
    <%= form.number_field :amount,:required => true, class:'inputField' %>
  </div>

  
    <div class="field inputFieldContainer" style="visibility:hidden">
    <%= form.label :user_id %></br>
    <%= form.text_field :user_id , value: current_user.id%>    
    </div>  
  
  
  
  <div class="actions ">
  <%= form.submit "Submit", class:"productBtn"%>
  </div>
<% end %>
</div>