<p id="notice"><%= notice %></p>

<h1>Products</h1>

<table class="table" style="background-color:azure">
 <thead class="thead-dark"> 
  
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Category</th>
      <th scope="col">Description</th>
      <th scope="col">Seller Id</th>
      <th scope="col">Buyer Id</th>
      <th scope="col">Price</th>
      <th scope="col">Sold Out</th>
      <th scope="col">Payment Method</th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.category %></td>
        <td><%= product.description %></td>
        <td><%= product.user_id %></td>
        <td><%= product.buyer_id %></td>
        <td><%= product.amount %></td>
        <td><%= product.sold_out %></td>
        <% if product.sold_out %>
          <% a = @payments.find_by(product_id: product.id).method.byteslice(19..-3) %>
          <td><%= a %></td>
        <% else %>
          <td> Nil </td>
        <% end %>
        <td><%= link_to 'Show', product %></td>
        <td><%= link_to 'Edit', edit_product_path(product) %></td>
        <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


