<%= link_to 'Back', root_path %>

<div class="showContainer">
<p id="notice"><%= notice %></p>

<div class="showBox">
  <h3 class="showKey">Name:</h3>  
  <%= @product.name %>
</div>

<div class="showBox">
  <h3 class="showKey">Category:</h3>  
  <%= @product.category %>
</div>
<% a = '/products/' + @product.id.to_s + '/additionals/show' %>


<div class="showBox">
  <h3 class="showKey">Description:</h3>  
  <%= link_to @product.description, a %>  
</div>

<div class="showBox">
  <h3 class="showKey">Amount:</h3>  
  <%= @product.amount %>
</div>

<div style="margin-top:15px">
<% a = '/products/' + @product.id.to_s + '/payment' %>
<%if @product.user_id != current_user.id%>
  <button type="button" class="btn btn-secondary" >
    <%= link_to 'buy',  a,  class:"linkInButton" %>
  </button>
<%end%>

<button type="button" class="btn btn-secondary" >
  <%= link_to 'Edit', edit_product_path(@product), class:"linkInButton" %> 
</button>
</div>

</div>